@font-face {
   font-family: 'Futura';
   src: url('FuturaBT-Light.eot');
   src: url('FuturaBT-Light.eot?#iefix') format('embedded-opentype'),
      url('FuturaBT-Light.woff2') format('woff2'),
      url('FuturaBT-Light.woff') format('woff'),
      url('FuturaBT-Light.ttf') format('truetype'),
      url('FuturaBT-Light.svg#FuturaBT-Light') format('svg');
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Futura';
   src: url('FuturaBT-Book.eot');
   src: url('FuturaBT-Book.eot?#iefix') format('embedded-opentype'),
      url('FuturaBT-Book.woff2') format('woff2'),
      url('FuturaBT-Book.woff') format('woff'),
      url('FuturaBT-Book.ttf') format('truetype'),
      url('FuturaBT-Book.svg#FuturaBT-Book') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Futura';
   src: url('FuturaBT-Medium.eot');
   src: url('FuturaBT-Medium.eot?#iefix') format('embedded-opentype'),
      url('FuturaBT-Medium.woff2') format('woff2'),
      url('FuturaBT-Medium.woff') format('woff'),
      url('FuturaBT-Medium.ttf') format('truetype'),
      url('FuturaBT-Medium.svg#FuturaBT-Medium') format('svg');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
